img {
  border-radius: 50%;
}


.background-color {
  background-color: #E8E8E8;
}

h1 {
  font-size: 88pt;
}
.lead {
  font-size: 1rem;
}

.feature-icon {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

p {
  font-size: 12pt;
}

.copyright {
  font-size: 10pt;
}

.btn-lg {
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size:1.25rem: 1.25rem;
    --bs-btn-border-radius: 2rem;
}